html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
    section
        p We're employing strong cryptography to prevent fraud and protect anonymity of voters.
        footer 