include dashboard.jade

.about
  p We're employing strong cryptography to prevent fraud and protect anonymity of voters.
  p Learn more:  
    a(href="http://securepollingsystem.com/") securepollingsystem.com
  footer 